@{title('Something awesome')}

<hr />
<br />
<p class="center">
	The Node.js framework for all web developers with everything what you need.<br />
	<h2>Instructions:</h2>
	<ul>
		<li>Add <b>backend URL to config</b></li>
		<li>All backend routes are inside <b>controllers/api.js</b></li>
		<li>All API are in <b>schemas/example.js</b></li>
		<li>All <b>AJAX</b> requests to backend are inside <b>public/js/example.js</b></li>
		<li>If you would like to add more attributes into the request, you'll need to specify them in schema <b>schema.define('newparameter', type)</b> in <b>schemas/example.js</b>.</li>
		<li>You can check model coming into schema with <b>console.log($.model)</b></li>	
		<li>New attribute needs to be added also in <b>public/js/example.js</b></li>
	</ul>
</p>
<br />
<br />
<div data---="input__serial_number__label:Serial number;innerlabel:true" class="m"></div>

<div class="center">
	<button class="linkbutton exec" data-exec="example/read">Read</button>
	<button class="linkbutton exec" data-exec="example/create">Create</button>
	<button class="linkbutton exec" data-exec="example/update">Update</button>
	<button class="linkbutton exec" data-exec="example/remove">Delete</button>
</div>